/* body {
    background-color: black;
    color: #757782;
} */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.body-model-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
    padding: 10rem;

}

.rbh polygon:hover { fill: #757782 !important; }