/* body {
    background-color: black;
    color: #757782;
} */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-color: #263b77;
}

.body-model-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
    padding: 0rem;
    
}

.rbh polygon:hover { fill: #757782 !important; }

svg {
    height: 60vh;
}