
.body-model-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
    padding: 10rem;

}

.rbh polygon:hover { fill: #757782 !important; }